body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  max-width: 46em;
  color: #333;
}
h1 {
  font-family: "Bitter", sans-serif;
  color: #666;
}
form {
  margin: 1em 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
fieldset + fieldset {
  padding-top: 1em;
}
select, input {
  background-color: white;
  border: solid 1px #eee;
  border-radius: 3px;
  color: #333;
  outline: none;
  padding: 3px;
}
select {
  width: 6em;
}
input[type=number] {
  width: 3em;
}
select:active,
select:focus,
input:active,
input:focus {
  box-shadow: 0 0 6px dodgerblue;
}
label span {
  width: 10em;
  display: inline-block;
}
.chart {
  background: #eee;
  height: 30px;
  padding: 5px 0;
  position: relative;
  width: 100%;
}
.chart .bar {
  background: dodgerblue;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  height: 100%;
  line-height: 30px;
  text-align: right;
}
.chart .bar .value {
  padding: 0 5px;
}
